.top-bar, .top-bar ul {
    background-color: $navbar-background;
}

.top-bar{
    .menu-text{
        color: $navbar-menu-text-color;
    }

    .menu > .menu-text > a{
        display: inline;
        padding: .7rem .5rem;
    }

    .active-link{
        font-weight: bold;
    }
}